<main class="main">
    <div class="wrapper">
        <div class="checkout">
            <div class="checkout__header">
                <h1 class="checkout__h1">{{ title | translate }}</h1>
                <img class="checkout__svg" [src]=" '/assets/img/' + img " alt="Diploma logo" *ngIf="page === 'Order Confirmation'">
                <h2 class="checkout__h2">{{ message | translate }}</h2>
            </div>

            <app-form *ngIf="page === 'My Data'"></app-form>
            
            <div class="checkout__payment" *ngIf="page === 'Payment'">
                <div class="checkout__details">
                    <img class="checkout__img" src="/assets/img/credit-card.svg" width="75" height="75" alt="Credit card logo">
                    <h3 class="checkout__h3">{{ "dashboard.h3" | translate }}</h3>
                    <p class="checkout__p">{{ "checkoutPayment.p" | translate }}</p>
                    <div class="checkout__cards">
                        <img class="checkout__img" width="75" height="75" src="/assets/img/master-card.png" [alt]=" 'dashboard.imgAlt' | translate ">
                        <img class="checkout__img" width="75" height="75" src="/assets/img/visa.png" [alt]=" 'dashboard.imgAlt2' | translate ">
                    </div>
                </div>
                <div class="checkout__btns">
                    <button 
                        class="checkout__btn checkout__btn--back btn" 
                        type="button"
                        (click)="goBack()">
                        <svg class="btn__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                        </svg>
                        <span>{{ "checkoutPayment.btn2" | translate }}</span>
                    </button>
                    <button 
                        class="checkout__btn btn" 
                        type="button"
                        (click)="pay()">
                        <span>{{ "checkoutPayment.btn" | translate }}</span>
                        <svg class="btn__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>