:root{
    --black        : #000000;        
    --white        : #ffffff;           
 
    --c-main-bg    : #f0f0f0;
    --c-accent     : #0080f0;
    --c-btn        : #1ba1e2;
    --c-validation : #60a917;
    --c-outline    : #4c9aff;
    --c-error      : #f3215b;
    
    --c-main-text  : #3d3d5c;
    --c-sec-text   : #596780;
    --c-border     : #eeeeee;
    --c-border-btn : #0e76b4;
    --c-shadow     : #b4b4b4;


    /* ------------- Fonts ------------- */
    --ff-main     : 'Raleway', sans-serif;

    --fs-h1       : 2.8em;
    --fs-h3       : 1.5em;
}