@import '_font', '_variables', '_reset', '_mixins';

.btn{
  color: var(--white);
  background-color: var(--c-btn);
  border: 2px solid var(--c-border-btn);
  border-radius: 8px;
  box-shadow: 10px 10px 5px -2px var(--c-shadow);
  box-shadow: 3px 3px 3px 0px var(--c-shadow);
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;

  &__svg{
    width: 2.5em;
    height: 2.5em;
  }
}