@import '_mixins';
.form{
    animation: fadeInUp 1.5s ease 1 0.8s both;

    &__control{
        padding: 1em 0;
        font-weight: 600;
        color: var(--c-sec-text);
    }
    &__input{
        width: 100%;
        padding: 0.5em 0;
        border-radius: 5px;
        border: 3px solid var(--c-shadow);
    }
    &__error{
        color: var(--c-error);
    }
    &__btn{
        width: 11em;
        margin-top: 2em;
        margin-left: auto;
        @include flex( row, nowrap, flex-end, center );
    }
}